<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        	<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>Nielsen | testssl.sh Portal</title>
	<link rel="stylesheet" href="../static/d_style.css" />
		<link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="../static/bootstrap.min.css">
</head>

<body>
              <div>
    {% block content %}{% endblock %}
</div>
<center>
	<p><a href="testssl.sh">Testssl.sh</a> is awesome!</p>

                    <div class="clearfix"></div>
                      <h2 style="font-size: 20px"><i class="fa fa-shield"></i>&nbsp;Cyber Security Team</h2>
		      <p>&copy; 2020, All Rights Reserved.<br /> The Nielsen Company (US), LLC.<br /> <a href="https://www.nielsen.com/us/en/legal/terms-of-use">Terms of Use</a></p></center>
</body>
</html>
